.content {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 12px;
        color: #717171;
        margin: 0 0 0 10px;
        width: calc(100% - 30px);
        text-align: left;
        white-space: nowrap;
    }

    .work_panel {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: flex-end;
        margin-bottom: 10px;

        .buttons {
            display: flex;
            align-items: center;

            button {
                background-color: #F73E5F;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                margin: 3px 0 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                h3 {
                    color: white;
                    font-size: 34px;
                    height: 65px;
                    font-weight: 500;
                }

                img {
                    width: 30px;
                    height: 30px;
                    margin: 0;
                }
            }
        }

        .ssf {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-left: 10px;
            width: calc(100% - 180px);

            button {
                width: 110px;
                font-size: 15px;
            }

            .block {
                width: calc((100% - 100px)/4 - 10px);

                input {
                    width: calc(100% - 30px);
                    height: 50px;
                    font-size: 16px;
                }

                select {
                    width: 100%;
                    height: 50px;
                    font-size: 16px;
                }
            }
        }
    }

    .details {
        background-color: white;
        max-width: calc(80% - 40px);
        min-width: calc(80% - 40px);
        padding: 20px;

        margin-bottom: 15px;

        .courses {
            margin: 10px 0 5px 20px;

            h3 {
                margin: 0;
                margin-bottom: 5px;
            }

            h4 {
                margin: 0;
                font-weight: 100;
            }
        }

        .inf {
            display: flex;
            justify-content: space-between;

            .col {
                width: calc(50% - 10px);
                margin-left: 20px;

                .row {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    h3 {
                        margin: 0;
                        width: 170px;
                    }

                    h4 {
                        margin: 0;
                        font-weight: 100;
                    }
                }
            }
        }
    }

    .table {
        max-width: 80%;
        min-width: 80%;
        min-height: calc(100% - 80px);
        overflow-x: auto;
        background-color: white;

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            font-weight: 300;
        }

        th {
            background-color: #f4f4f4;
            font-weight: 600;
            color: #333;
            text-align: center;
            white-space: nowrap;
        }

        tr {
            white-space: nowrap;

            &:hover {
                background-color: #cfcfcf;
                cursor: pointer;
            }
        }

        tr:nth-child(even) {
            white-space: nowrap;
            background-color: #f4f4f4;

            &:hover {
                background-color: #cfcfcf;
                cursor: pointer;
            }
        }
    }

    .edit_area {
        max-width: 40%;
        min-width: 40%;
        background-color: white;
        padding: 25px 20px 15px 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            margin: 0 0 10px 0;
            padding: 0;
            font-weight: 400;
            font-size: 20px;
            width: 100%;
            text-align: center;
        }

        .inputs {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .inputs_col {
                width: calc(50% - 10px);

                input {
                    width: calc(100% - 30px);
                    height: 50px;
                    margin-bottom: 5px;
                    font-size: 16px;
                }

                select {
                    width: 100%;
                    height: 50px;
                    margin-bottom: 5px;
                    font-size: 16px;
                }
            }
        }

        button {
            width: 200px;
            height: 50px;
            margin: 10px 0;
            font-size: 16px;
        }

        .course {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            select {
                width: calc(50% - 5px);
                height: 50px;
            }
        }
    }
}