body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e3e3e3;
}

input {
  background-color: #F0F0F0;
  border: none;
  font-weight: 100;
  font-size: 20px;
  border-radius: 15px;
  padding: 0 15px;
  transition: transform 0.2s;
  font-family: 'Segoe UI', sans-serif;

  &:focus {
    outline: none;
    background-color: #c7c7c7;
  }

  &:hover {
    transform: scale(1.03);
  }
}

button {
  font-family: 'Segoe UI', sans-serif;
  background-color: #FFD273;
  border: none;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}