body {
  margin: 0;
  font-family: 'Lucida Sans Unicode', sans-serif;
  background-color: #FFFFFF;
}

body::-webkit-scrollbar {
  background-color: #FFFFFF;
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}

.wrapper {
  background-color: #FFFFFF;
}